/**/node_modules
/**/dist
/**/coverage
/**/junit.xml
/**/.yarnignore
!/.yarnignore
/**/prometheus/config/targets.json

/**/.vagrant

/docs/website/build
/yarn-error.log
/**/package-lock.json
.DS_Store

# vim
*~
*.swp
*.swo
