version: '2'
services:
  ms-sql:
    image: mcr.microsoft.com/mssql/server:2017-latest
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: ${MSSQL_PASSWORD}
    command: /opt/mssql/bin/sqlservr
