version: '2.1'
services:
  cosmos:
    image: microsoft/azure-cosmosdb-emulator
    ports:
      - "8081:8081"
      - "8900:8900"
      - "8901:8901"
      - "8979:8979"
      - "10250:10250"
      - "10251:10251"
      - "10252:10252"
      - "10253:10253"
      - "10254:10254"
      - "10255:10255"
      - "10256:10256"
      - "10350:10350"

  storage:
    image: microsoft/azure-storage-emulator
    ports:
       - 10000:10000
       - 10001:10001
       - 10002:10002