name: Cookie Cutter Build Workflow

on:
  push:
    branches: [ master, develop, ^release/.*$]
  pull_request:
    branches: [ master, develop, ^release/.*$ ]
  schedule:
    - cron:  '0 4 * * *'

jobs:
  smoke:
    name: Ubuntu Node 10 Smoke
    runs-on: ubuntu-latest
    outputs:
      commit_message: ${{ steps.output_message.outputs.commit_message }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with: # required for git log to access the correct commits
          ref: ${{ github.event.pull_request.head.sha }}
      # - name: Get Commit Message
      #   run: echo "COMMIT_MESSAGE=$(git log --format=%B -n 1 ${{ github.event.after }})" >> $GITHUB_ENV
      - name: Set Output Commit Message
        id: output_message
        # env:
          # COMMIT_MESSAGE: ""
          # COMMIT_MESSAGE: ${{ env.COMMIT_MESSAGE }}
        run: |
              echo "::set-output name=commit_message::$COMMIT_MESSAGE"
              echo Commit Message: "$COMMIT_MESSAGE"
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      # - name: Install Yarn 1.21.1
      #   run: yarn set version 1.21.1
      # - name: Install Dependencies
      #   run: yarn install --frozen-lockfile
      # - name: Yarn Build
      #   run: yarn build
      # - name: Yarn Lint
      #   run: yarn lint
      # - name: Yarn Test
      #   run: yarn test
      # - name: Yarn Audit
      #   if: ${{ github.event_name == 'schedule' }}
      #   run: yarn audit

  test-ubuntu:
    name: Ubuntu Node 12 Test
    if: ${{ contains(needs.smoke.outputs.commit_message, '[full ci]') }}
    # if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: smoke
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 12
        uses: actions/setup-node@v2-beta
        with:
          node-version: "12"
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: yarn build
      - name: Yarn Test
        run: yarn test

  test-macOS:
    name: MacOS Node 10 Test
    if: ${{ contains(needs.smoke.outputs.commit_message, '[full ci]') }}
    # if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: smoke
    runs-on: macOS-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup MacOS Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Install Yarn 1.21.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: yarn build
      - name: Yarn Test
        run: yarn test

  test-windows:
    name: Windows Node 10 Test
    if: ${{ contains(needs.smoke.outputs.commit_message, '[full ci]') }}
    # if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: smoke
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Windows Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
        env:
          YARN_GPG: no # Windows build agent will hang without this
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: yarn build
      - name: Yarn Test
        run: yarn test

  integration-mssql:
    name: MSSQL Integration
    if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: [test-ubuntu, test-macOS, test-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: cd packages/core && yarn build && cd ../mssql && yarn build
      - name: Yarn Integrate
        run: cd packages/mssql && yarn integrate

  integration-amqp:
    name: AMQP Integration
    if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: [test-ubuntu, test-macOS, test-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: cd packages/core && yarn build && cd ../amqp && yarn build
      - name: Yarn Integrate
        run: cd packages/amqp && yarn integrate

  integration-kafka:
    name: Kafka Integration
    if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: [test-ubuntu, test-macOS, test-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: cd packages/core && yarn build && cd ../kafka && yarn build
      - name: Yarn Integrate
        run: cd packages/kafka && yarn integrate

  integration-prometheus:
    name: Prometheus Integration
    if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: [test-ubuntu, test-macOS, test-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: cd packages/core && yarn build && cd ../prometheus && yarn build
      - name: Yarn Integrate
        run: cd packages/prometheus && yarn integrate

  integration-s3:
    name: S3 Integration
    if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: [test-ubuntu, test-macOS, test-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: cd packages/core && yarn build && cd ../s3 && yarn build
      - name: Yarn Integrate
        run: cd packages/s3 && yarn integrate

  integration-redis:
    name: Redis Integration
    if: ${{ github.event_name == 'schedule' || ( github.event_name == 'pull_request' && ( github.base_ref == 'master' || contains(needs.smoke.outputs.commit_message, '[full ci]') || contains(needs.smoke.outputs.commit_message, '[full-ci]') ) ) }}
    needs: [test-ubuntu, test-macOS, test-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Install Yarn 1.21.1
        run: yarn set version 1.21.1
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Yarn Build
        run: cd packages/core && yarn build && cd ../redis && yarn build
      - name: Yarn Integrate
        run: cd packages/redis && yarn integrate

  publish-to-npm:
    name: Publish to NPM
    if: ${{ github.event_name == 'push' }}
    needs: smoke
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Publish to NPM
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
              echo "$SOME_ENV"
              echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
              yarn build && node ./.ci/deploy.js

  publish-to-github-pages:
    name: Publish to Github Pages
    if: ${{ github.event_name == 'push' && github.base_ref == 'master' }}
    needs: smoke
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Ubuntu Node 10
        uses: actions/setup-node@v2-beta
        with:
          node-version: "10"
      - name: Publish to Github Pages
        env:
          GH_NAME: sklose
          GH_EMAIL: sebastian.klose@walmart.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
              git config --global user.name "${GH_NAME}"
              git config --global user.email "${GH_EMAIL}"
              echo "machine github.com login ${GH_NAME} password ${GITHUB_TOKEN}" > ~/.netrc
              cd docs/website && yarn install && GIT_USER="${GH_NAME}" yarn run publish-gh-pages
